ul {
	margin: 0px;
	padding: 0px;
	/* list-style: none; */
}
a:hover {
	text-decoration: none;
}
.top-nav ul {
	color: #686868;
	font-size: 12px;
	font-weight: 400;
}
.top-nav ul li {
	float: left;
	padding: 10px 0;
}
.top-nav ul li a {
	color: #686868;
	font-size: 12px;
}
.top-nav ul li span {
	color: #686868;
	font-size: 12px;
	display: inline-block;
	padding: 0 10px;
}
.top-nav ul li:first-child {
	background: #494949;
	color: #fff;
	padding: 10px 15px;
	margin-right: 15px;
}
.top-header .social {
	float: right;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.socialBtn li {
	float: left;
	list-style: none;
}
.socialBtn li:first-child {
	margin-left: 0;
}
.socialBtn li > a {
	background-image: url(../images/social-sprite.png);
	background-repeat: no-repeat;
	display: block;
	width: 39px;
	height: 37px;
}
.socialBtn li > a.facebook {
	background-position: 0 0;
}
.socialBtn li > a.facebook:hover {
	background-position: 0 -83px;
}
.socialBtn li > a.twitter {
	background-position: -39px 0;
}
.socialBtn li > a.twitter:hover {
	background-position: -39px -83px;
}
.socialBtn li > a.linkedin {
	background-position: -78px 0;
}
.socialBtn li > a.linkedin:hover {
	background-position: -78px -83px;
}
.socialBtn li > a.pinterest {
	background-position: -117px 0;
}
.socialBtn li > a.pinterest:hover {
	background-position: -117px -83px;
}
.socialBtn li > a.rss {
	background-position: -156px 0;
}
.socialBtn li > a.rss:hover {
	background-position: -156px -83px;
}
.socialBtn li > a.youtub {
	background-position: -195px 0;
}
.socialBtn li > a.youtub:hover {
	background-position: -195px -83px;
}
.logo-header {
	padding: 21px 0 12px 0;
}
.header-add-img {
	padding-top: 6px;
}
/*_------------NAV TOP-----------*/
.nav-top {
	/* background: #494949; */
}
.main-header-menu{
	text-align:center;
}
.main-header-menu .main-header-menu-li{
	display:inline-block !important;
	float: inherit !important;
	text-align:left;
	
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu:after, #cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #menu-button {
	display: none;
}
#cssmenu {
	width: auto;
	line-height: 1;
}
#menu-line {
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	background: #009ae1;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	display: none;
}
#cssmenu > ul > li {
	float: left;
}
#cssmenu.align-center > ul {
	font-size: 0;
	text-align: center;
}
#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}
#cssmenu.align-center ul ul {
	text-align: left;
}
#cssmenu.align-right > ul > li {
	float: right;
}
#cssmenu.align-right ul ul {
	text-align: right;
}
#cssmenu > ul > li > a {
	padding:16px;
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	position:relative;
}
#cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a {
	/* color: #000; */
	background:#ee871b;
}
#cssmenu > ul > li:hover.has-sub > a::after, #cssmenu > ul > li.active > a::after{
	    /* border-bottom: 1px solid #000 !important;
    border-right: 1px solid #000 !important; */
}
#cssmenu > ul > li:hover > a::before, #cssmenu > ul > li.active > a::before {
	/* position:absolute;
	bottom:0;
	left:0;
	content:"";
	background: #eb5318;	
	height:3px;
	width:100%; */
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
	position: absolute;
	top: 19px;
	right: 10px;
	width: 7px;
	height: 7px;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	content: "";
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
	border-color: #ffffff;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	z-index: 999;
	/* border: solid 1px #d7d7d7; */
	
	/* -webkit-box-shadow: 0px 0px 24px -7px rgba(234,234,234,1);
-moz-box-shadow: 0px 0px 24px -7px rgba(234,234,234,1);
box-shadow: 0px 0px 24px -7px rgba(234,234,234,1); */
border:solid 1px #a6a6a6;
}
#cssmenu li:hover > ul {
	left: auto;
}
#cssmenu.align-right li:hover > ul {
	right: 0;
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}
#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}
#cssmenu ul ul li {
	float: left;
	display: inline-block;
	height: inherit !important;
}

#cssmenu ul li:hover > ul > li {
	height: 32px;
}
#cssmenu ul ul li a {
	padding: 5px 8px;
	width: 190px;
	font-size: 13px;
	background: #fff;
	text-decoration: none;
	color: #000;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	line-height: 16px;
}
#cssmenu ul ul  li.first-level > a {
    width: 208px;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	background: #fdf1e4;
}
#cssmenu ul ul li.has-sub > a::after {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 7px;
	height: 7px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	content: "";
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
	right: auto;
	left: 10px;
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
	border-color: #000;
}

@media all and (max-width: 1170px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
#cssmenu {
	width: 100%;
}
#cssmenu ul {
	width: 100%;
	display: none;
}
#cssmenu.align-center > ul, #cssmenu.align-right ul ul {
	text-align: left;
}
#cssmenu ul li, #cssmenu ul ul li, #cssmenu ul li:hover > ul > li {
	width: 100%;
	height: auto;
	border-top: 1px solid rgba(120, 120, 120, 1);
}
#cssmenu ul li a, #cssmenu ul ul li a {
	width: 100%;
}
#cssmenu > ul > li, #cssmenu.align-center > ul > li, #cssmenu.align-right > ul > li {
	float: none;
	display: block;
}
#cssmenu ul ul li a {
	padding: 10px 20px 10px 30px;
	font-size: 14px;
	color: #fff;
	background: none;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color: #000 !important;
	/* background: #ff524b; */
}
#cssmenu ul ul ul li a {
	padding-left: 40px;
}
#cssmenu ul ul, #cssmenu ul ul ul {
	position: relative;
	left: 0;
	right: auto;
	width: 100%;
	margin: 0;
}
#cssmenu > ul > li.has-sub > a::after, #cssmenu ul ul li.has-sub > a::after {
	display: none;
}
#menu-line {
	display: none;
}
#cssmenu #menu-button {
	display: block;
	padding: 20px;
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
}
#cssmenu #menu-button::after {
	content: '';
	position: absolute;
	top: 20px;
	right: 40px;
	display: block;
	width: 15px;
	height: 2px;
	background: #ffffff;
}
#cssmenu #menu-button::before {
	content: '';
	position: absolute;
	top: 25px;
	right: 40px;
	display: block;
	width: 15px;
	height: 7px;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
}
#cssmenu .submenu-button {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	display: block;
	border-left: 1px solid #001d3b;
	height: 55px;
	width: 52px;
	cursor: pointer;
}
#cssmenu .submenu-button::after {
	content: '';
	position: absolute;
	top: 23px;
	left: 26px;
	display: block;
	width: 1px;
	height: 11px;
	background: #fff;
	z-index: 99;
}
#cssmenu .submenu-button::before {
	content: '';
	position: absolute;
	left: 21px;
	top: 28px;
	display: block;
	width: 11px;
	height: 1px;
	background: #fff;
	z-index: 99;
}
#cssmenu .submenu-button.submenu-opened:after {
	display: none;
}
}