@media (max-width:1199px) {
	.slider-items {
		height: 400px !important;
	}
	.key-function-items li{
		width:22%;
	}
	.key-function-items li:nth-child(5n) {
		margin-right: 3%;
	}
}
@media (max-width:1170px) {
	.top-hdr-rht{
		border-bottom: solid 1px #fff;
    padding-bottom: 5px;
    text-align: right;
	float:none;
	}
}
@media (max-width:991px) {
	.video-slider-container{
		display:none;
	}
	.banner-slider-container{
		width:100%;
	}
	.mid-header .logo, .mid-header-right{
		width: 100%;
		text-align: center;
	}
	.nav-top #menu-button{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.nav-top #menu-button::before, .nav-top #menu-button::after{
		right: 15px !important;
	}
	.nav-top .submenu-button{
		border-left: 1px solid rgba(255, 255, 255, 0.30) !important;
	}
	.nav-top ul li, .nav-top ul ul li, .nav-top ul li:hover > ul > li{
		border-top: 1px solid rgba(255, 255, 255, 0.30) !important;
	}
	.nav-top .submenu-button::before, .nav-top .submenu-button::after{
		background: #fff !important;
	}
	.nav-top ul ul li:hover > a, .nav-top ul ul li a:hover{
		color:#fff !important;
	}
	.nav-top ul ul li.first-level > a{
		width: 100% !important;
	}
	.home-stats-items h2{
		font-size: 40px;
	}
	.home-stats-items-txt {
    font-size: 14px;
}
.home-stats-items{
	margin-bottom: 15px;
}
.home-scheme-items{
	margin-bottom: 20px;
}
.summary-hd{
	margin-top:30px;
}
.mid-header-right .mid-header-right-logo, .mid-header-right .hdr-lang, .mid-header-right .hdr-search{
		 display: inline-block;
			float: none;
			vertical-align: top;
	}
	.mid-header-right{
		width: 100%;
    text-align: center;
    right: inherit;
    border-top: solid 1px #ccc;
    margin-top: 10px;
    padding-top: 10px;
	padding-bottom: 6px;
	}
	.top-stats-items-cnt h3{
		font-size:20px;
	}
	.top-stats-items-cnt p{
		font-size:14px;
	}
	.schemes-items-inr{
		    margin-bottom: 15px;
	}
	.top-header-right{
	float: none !important;
    text-align: center;
    margin: 8px auto;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
	}
	.top-header-links{
		width: 100%;
    text-align: center;
	}
	.why-items-inner{
		margin-bottom: 97px;
	}
	.home-abt{
		    margin-top: -60px;
    display: inline-block;
	}
	.focus-sec .left-td{
		padding-right:40px;
	}
	.lgn-top-stats{
		margin-bottom:40px;
	}
	.key-function-items li{
		width:30%;
	}
}
@media (max-width:767px) {
	
    .sticky-btn-right{display:none;}
	
	/*---top hdr---------*/
	
	
	.mid-header-bt{
		float:inherit;
		margin: 5px 5px 5px 0;
		display: inline-block;
	}
	.logo .heading{
		font-size: 20px;
	}
	.logo .cap{
		/* font-size: 12px; */
	}
	.home-bottom-logos-section{
		margin-top: 10px;
margin-bottom: 0;
	}
	.responsive-m-t{
		margin-top:20px;
	}
	.bottom-social{
		float:left;
	}
	
	.top-header-right .top-header-social{
		float: none;
    display: inline-block;
    vertical-align: middle;
	}
	.top-header-right .top-header-help{
		    display: inline-block;
			float: none;
	}
	.hdr-count{
		    float: none !important;
    text-align: center;
	}
	
	.banner-slider-container{
		/* display:none; */
	}
	
	
	.slider-items{	
	height:270px !important;
}
	
	
	
	.home-top-sec-limca{
		margin-top:40px;
	}
	.home-top-sec-limca-top{
		height:100px;
	}
	.home-top-sec-limca-btm{
		height:150px;
	}
	.notification-testimonial{
		background:none;
		margin-top:0;
		    padding-bottom: 0;
	}
	.notification{
		max-width: inherit;
    padding: 40px 15px;
	background:#3ab535;
	}
	.testimonials{
		max-width: inherit;
    padding: 40px 15px;
	background:#0a2d68;
		margin: 60px auto 0;
	}
	.testimonial-slider{
		width: 90%;
    margin: 0 auto;
	}
	.home-reg-sec-inner{
		margin-bottom:20px;
	}
	 .home-bottom-logos-section{
		 margin-top:40px;
	 }
	 .section-hd h2{
		 font-size:24px;
	 }
	 .why-items-inner{
		 min-height:inherit;
	 }
	 .home-imp-links{
		 display:none;
	 }
	 .home-stats-items-inner{
		 background:none;
		 padding-right:0;
		 margin-bottom:20px;
	 }
	.news-section{
		    margin-bottom: 30px;
	}
	footer{
		margin-top:0 !important;
	}
	.ftr-sec-hd{
		margin-top:30px;
	}
	.focus-sec .left-td{
		padding-right:0;
	}
	.focus-sec .left-td, .focus-sec .right-td{
		width:100%;
		    display: inline-block;
	}
	.home-process-items li{
		width:45%;
		    margin-bottom: 40px;
	}
	.copy-footer-items p:nth-child(2){
		float:left;
	}
	.inner-body-section{
		margin-bottom:40px;
	}
	
	.home-news-ticker-hd{
		display:none;
	}
	.key-function-items li{
		width:48%;
	}
	.key-function-items li:nth-child(2n) {
		margin-right: 0%;
	}
}
@media (max-width:650px) {
	.hdr-count{
		width: 100%;
		text-align: center;
		/* border-bottom: solid 1px #ddd;
		margin-bottom: 5px; */
	}
	.top-header-right{
		width:100%;
	}
	.top-header-help {
		margin-right: 0px;
		border-right: none;
		padding-right: 0px;
	}
}
@media (max-width:540px) {
	.mid-header-right span img{
		width: 40px;
	}
	.section-hd {
		font-size: 20px;
	}
	.home-scheme-items h3, .home-mid-items-hd{
		font-size: 16px;
	}
	.tab-hds{
		font-size: 18px;
	}
	.top-stats-items-cnt{
		min-height: 160px;
	}
	.land-banks-itms li{
		display:block;
		width:100%;
		border-right:0;
		border-bottom:solid 1px #ccc;
		padding-bottom:15px;
		margin-bottom:15px;
	}
	.land-banks-itms li:last-child{
		border-right:0;
		border-bottom:0;
		padding-bottom:0;
		margin-bottom:0;
	}
	.mid-header-right-btns li{
		margin-bottom:15px;
	}
	.mid-header-right-btns li:last-child{
		margin-bottom:0	;
	}
	.slider-items{	
	height:200px !important;
}
}
@media (max-width:450px) {
	.slider-items{	
	height:150px !important;
}
.key-function-items li{
		width:100%;
		margin-right:0;
		margin-bottom: 15px;
	}
	.key-function{
		min-height:inherit;
	}
	
}

@media all and (-ms-high-contrast:none)     {
	 .banner-slider .carousel-control{
		 /* top:27%; */
	 }
	 .sticky-btn-right a{
		 -ms-transform:rotate(0deg);
	 }
	 .banner-slider, .banner-slider .carousel-inner, .banner-slider .carousel-inner .item{
		 height:auto;
	 }
}
@supports (-ms-ime-align:auto) {
  .banner-slider, .banner-slider .carousel-inner, .banner-slider .carousel-inner .item{
		 height:auto;
	 }
}
@supports (-ms-accelerator:true) {
	.banner-slider, .banner-slider .carousel-inner, .banner-slider .carousel-inner .item{
		 height:auto;
	 }
	
}